* {
    margin: 0px;
    padding: 0px;
}

/* banner section styles */
.banner-container {
    display: flex;
    justify-content: space-around;
    background-color: rgba(229, 84, 115, 0.10);

}

.banner-text {
    padding-top: 250px;
    padding-left: 100px;
}

.wish {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 10px;

}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.btn-primary {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 15px;
    margin-top: 10px;
    border-radius: 8px;
    background: #E55473;
    border: none;

}

.banner-image {
    padding-right: 150px;
    padding-top: 90px;
}

/* features section design */
.features-container {
    height: 800px;
    background: #FFF;
    text-align: center;

}

.feature-text {
    padding-top: 200px;

}

.feature-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.feature-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    line-height: 30px;
    padding-top: 10px;
    padding-bottom: 50px;
}

.feature-images {
    display: flex;
    justify-content: center;

    text-align: center;
    text-decoration: underline;




}

.first-photo {
    width: 350px;
    height: 350px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    margin-right: 20px;

}

.second-photo {
    width: 350px;
    height: 350px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    margin-right: 20px;
   
}

.third-photo {
    width: 350px;
    height: 350px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);

}

/* hot deal section design */

.hot-deal-container {
    display: flex;
    justify-content: space-around;
    background: rgba(229, 84, 115, 0.05);
    height: 600px;

}

.hot-deal-text {
    padding-top: 200px;
    padding-left: 150px;



}

.hot-deal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;

}

.off {
    color: #E55473;
}

.hot-deal-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 10px;
}

#btn {
    display: block;
    margin: auto;
}

.hot-deal-image {
    padding-top: 100px;
}

/* instagram section text */
.instagram-container {
    text-align: center;
    background: #FFF;
    padding: 200px 700px 200px 700px;
}

.instagram-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 50px;
}

.instagram-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 100px;
}

.instagram-images {
    display: flex;
    gap: 20px;

}

/* deals section design */

.deals-container {
    width: 1440px;
    height: 449px;
    text-align: center;
    margin: 200px 700px 200px 700px;
    background: #FFF;
    background-image: url("../Rectangle\ 9.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.deals-text {
    padding-top: 180px;
}

.email {
    width: 500px;
    height: 50px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    margin-right: 10px;
}

footer {
    height: 400px;
    color: white;
    text-align: center;
    background-color: black;
}

.footer-text {

    padding-top: 150px;
}

.flower {
    color: #E55473;
}

.footer-description {
    padding-top: 20px;
}

#footer-bottom {
    padding-top: 30px;
}

/* mental health section styles */
.mental-health {
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-bottom: 40px;
    background-color: lightblue;
}

div>h1 {
    margin-bottom: 10px;
}